/* List Styles */

.item {
    padding: 20px 10px !important;
}

.button {
    color: white !important;
}

a.ui.button {
    background-color: #023e8a;
    margin-top: 5px !important;
}



/* Translation Styles */
div.text-block {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}